@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Raleway&display=swap');

   

    $font-playfair: 'Playfair Display', serif;
    $font-bold:700;
    
    $font-raleway: 'Raleway', sans-serif;

