footer {
    text-align:center;
    a {
        color:$white;
        letter-spacing:1px;
        &:hover {
            cursor:pointer;
            text-decoration: none;
            color:red;
        }
    }
}

